@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Movie // this is the model that we're using in this view

<h2>Movie submitted!</h2>
<br />
<p>We're sure '@Model.Title' is a great movie, thank you for contributing to the ever-expanding collection</p>

<a asp-controller="Home" asp-action="Index">Now head on back home</a>