@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div> class="text-center"
    <h1>Get to Know Joel</h1>
</div>
<br />

<div class="text-center">
    <p>
        Get ready to meet Joel Hilton, the brother of the legendary Professor Hilton! Joel's love for movies and improv comedy
        is contagious, lighting up every room he enters with his infectious energy. With his electrifying charm that he must have inherited from Spencer,
        he hosts the wildly entertaining "Baconsale" podcast, where he dishes out hilarious takes on all things film and pop culture,
        leaving fans craving more with each episode!
    </p>
</div>
<br /><br />

<div class="text-center">
    <h3>Quick Wits Comedy</h3>
    <p>
        Joel regularly performs at a local Provo improv comedy show where he puts his humor to good use. Find more about showtimes
        and other information <a href="https://www.qwcomedy.com/">here</a>.
    </p>
</div>
<br />

<div class="text-center">
    <h3>Baconsale</h3>
    <p>
        Enjoy Joel's viral podcast. Where a comedian, a movie critic, and a barber walk into a family-friendly pop culture 
        podcast to humorously discuss movies, music, TV, food, video games & more!

        Explore BaconSale <a href="https://baconsale.com/">here</a>.

        <a href="https://baconsale.com/">
            <img src="~/img/baconsalekate.jpg" alt="BaconSale Kate" />
        </a>

    </p>
</div>