@{
    ViewData["Title"] = "Home Page";
}

<h1>The Joel Hilton Film Collection</h1>
<br /><br />

<div class="text-center">
    <p>Welcome to one of the most intense Film Collections found on the internet, curated by the man, the myth, the legend...</p>
    <h3><b>Joel Hilton</b></h3>

    <br />
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>

<div>
    <a asp-controller="Home" asp-action="GetToKnowJoe">Get to know your new friend Joe</a>
    <br />

    <a asp-controller="Home" asp-action="NewMovie">Click here to enter a new movie to the collection</a>
</div>